 body {
  margin: auto;
  background-color: rgb(7, 28, 56);
  width: 95%;
  border-color: lawngreen;
  outline: red;
}

h1 {
  width: 50%;
  text-align: center;
  margin: 20px auto;
  font-size: 35px;
  color: whitesmoke;
  font-family: 'Fjalla One', sans-serif;
}

img {
  
  display: inline-block;
  width: 120px;
  min-height: 120px;
  max-height: 120px;
  margin: 10px 10px;
  border: 8px solid rgb(68, 116, 179);
  border-style: outset;
  padding: 10px;
}
img:hover {
  border: 8px solid rgb(193, 207, 224);

}
 h2,ul,button {
    text-align: center;
    color:green;
    font-weight: bold;
  }
 
  
  section {
    width: 80%;
    margin: auto;
    border: 4px solid rgb(4, 73, 50);
    height: 600px;
  }
  
#catalogList{
   list-style-type: hover;
   font-size: 20px;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bolder;
   color: royalblue;
    
}

#contain{
  width: 600px;
  height: 600px;
margin: auto;
color: tomato;
}


#myChart{
color: teal;
font-family: 'Times New Roman', Times, serif;
border: violet;
} 
.bar {
  height: 2px;
  width: 40%;
  margin: 20px auto;
  background-color: red;
}